@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Syne Mono', monospace;
    font-weight: 600;
    @apply text-black tracking-wider
}

body {
    background: #5A9DE6;
    /*@apply bg-[#56D2FC];*/
}

.wrapper{
    height: calc(100vh - 65px);
    @apply flex justify-center items-center
}

input{
    box-shadow: 4px 4px 1px black;
    @apply h-12 px-3 text-black rounded-[6px] font-normal border-2 border-transparent;
}

.input-error{
    @apply border-red-500
}

input[type='checkbox']{
    @apply h-auto;
}

input:focus{
    @apply outline-none;
}

button[type='submit']{
    @apply border border-white/80 p-2 bg-white text-black transition-colors rounded-[6px]
}

button[type='submit']:disabled{
    @apply border border-white/80 p-2 bg-transparent text-white/80
}

.form{
    @apply flex flex-col gap-y-4
}

.form__row{
    @apply flex flex-col gap-y-2
}

.error{
    @apply text-[#e00d0d]
}

select{
    @apply px-3 h-12 focus:outline-none border-2 border-transparent rounded-[6px]
}

option{
    @apply text-black
}